.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 15vh;
  justify-content: space-around;
  color: #f2f2f2;
  width: 100vw;
  background-color: #d3c0c4;
}

.mainContainer {
  width: 100vw;
  margin: 0;
  justify-content: space-between;
}
